:root{
	--color1-card:#242424;
	--color2-card:#313131;
	--color-card-text:#ffffff;

	--color-fire:#fd7d24;
	--color-water:#4592c3;
	--color-grass:#9bcc50;
	--color-poison:#b97fc9;
	--color-flying1:#3dc7ef;
	--color-flying2:#bdb9b8;
	--color-fighting:#d56723;
	--color-ground1:#f7de3f;
	--color-ground2:#ab9842;
	--color-steel:#9eb7b8;
	--color-psychic:#f366b9;
	--color-dark:#707070;
	--color-ghost:#7b62a3;
	--color-fairy:#fdb9e9;
}

/*Start type*/
.type-pokemon--fire{
	display: inline-block;
	background-color:var(--color-fire);
	margin: 0px 3px;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}

.type-pokemon--water{
	display: inline-block;
	background-color:var(--color-water);
	margin: 0px 3px;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}

.type-pokemon--grass{
	display: inline-block;
	background-color:var(--color-grass);
	margin: 0px 3px;
	text-align: center;
	color: rgb(0, 0, 0);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}

.type-pokemon--poison{
	display: inline-block;
	background-color:var(--color-poison);
	margin: 0px 3px;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}

.type-pokemon--flying{
	display: inline-block;
	background: linear-gradient(var(--color-flying1) 50%, var(--color-flying2) 50%);
	margin: 0px 3px;
	text-align: center;
	color: rgb(0, 0, 0);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}

.type-pokemon--fighting{
	display: inline-block;
	background-color: var(--color-fighting);
	margin: 0px 3px;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}

.type-pokemon--ground{
	display: inline-block;
	background: linear-gradient(var(--color-ground1) 50%, var(--color-ground2) 50%);
	margin: 0px 3px;
	text-align: center;
	color: rgb(0, 0, 0);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}

.type-pokemon--steel{
	display: inline-block;
	background-color: var(--color-steel);
	margin: 0px 3px;
	text-align: center;
	color: rgb(0, 0, 0);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}

.type-pokemon--psychic{
	display: inline-block;
	background-color: var(--color-psychic);
	margin: 0px 3px;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}

.type-pokemon--dark{
	display: inline-block;
	background-color: var(--color-dark);
	margin: 0px 3px;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}

.type-pokemon--ghost{
	display: inline-block;
	background-color: var(--color-ghost);
	margin: 0px 3px;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}

.type-pokemon--fairy{
	display: inline-block;
	background-color: var(--color-fairy);
	margin: 0px 3px;
	text-align: center;
	color: rgb(0, 0, 0);
	padding: 3px 8px;
	border-radius: 2px;
	font-weight: 200;
}
/*End type*/

/*Start card pokemon*/
.pokemon__card{
	background-color: var(--color1-card);
	width: 280px;
	height: 440px;
	padding: 6px;
	border-radius: 3px;
	margin: 0 5.3%;
	display: inline-block;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.325);
	transition: transform 1.5s, box-shadow 1.5s;
}

.pokemon__card:active{
	transform: rotate3d(12, 60, 0, 30deg);
	box-shadow: 22px 22px 25px rgba(0, 0, 0, 0.325);
}

.pokemon__card:hover .pokemon__sprite > img{
	width: 80%;
	transform: translateY(-15px);
}

.pokemon__nome{
	color: var(--color-card-text);
	font-weight: 200;
	font-size: 1.8em;
	display: inline-block;
	position: absolute;
}

.pokemon__shiny{
	position: absolute;
	display: flex;
	height: 50px;
	width: 264px;
	justify-content: end;
}

.pokemon__shiny > img{
	position: absolute;
	width: 40px;
	margin-left: 10px;
	opacity: 0.5;
	cursor: pointer;
	transition: opacity 1s;
}

.pokemon__shiny > img:hover{
	opacity: 1;
}

.pokemon__number{
	color: rgb(94, 94, 94);
	font-weight: 200;
	font-size: 1.2em;
	text-align: end;
	display: block;
	line-height: 2;
}

.pokemon__sprite{
	background: url(../images/wallpaper/wallpaper-sprites.jpg) bottom center;
	background-size: cover;
	display: block;
	width: 100%;
	height: 55%;
	border-radius: 3px;
}

.pokemon__sprite > img{
	display: block;
	margin: auto;
	width: 75%;
	position: relative;
	top: 20px;
	transition: width 0.5s , transform 0.5s;
	max-height: 220px;
}

.pokemon__info > dt{
	font-size: 1.2em;
	color: var(--color-card-text);
}

.pokemon__info > dt:nth-child(1){
	display: inline-block;
	margin: 0px 0px 15px;
}

.pokemon__info > dt:nth-child(2){
	display: block;
	margin: 10px 0px;
}

.pokemon__info > dd{
	display: inline-block;
	color: var(--color-card-text);
}

.pokemon__evolve{
	display: block;
	padding: 2px 10px;
	font-size: 1.2em;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin: 15px auto 0;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
	background-color: var(--color1-card);
	color: var(--color-card-text);
	transition: 1s;
}


.pokemon__evolve:hover{
	font-size: 1.3em;
	background-color: var(--color2-card);
}

.pokemon__level{
	color: var(--color-card-text);
	text-align: center;
	display: block;
	font-size: 1.3em;
}
/*End card pokemon*/