@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

/*Start header top*/
.header-top{
	width: 100vw;
	background-color: #F5F5F5;
	padding: 5px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.338);
}

.header-top__logo{
	height: 100px;
	display: block;
	margin: auto;
}

.header-top__navegation{
	display: grid;
	width: 100%;
	margin-top: 5px;
	position: absolute;
	grid-template-columns: 150px 150px 150px;
	justify-content: center;
}

.header-top__navegation__links{
	width: 100%;
	height: 80px;
	background-color: white;
	transition: background-color 1s;
	text-decoration: none;
	text-align: center;
}

.navegation__text{
	position: relative;
	align-items: center;
	top: 5px;
}

.header-top__navegation__links:nth-child(1):hover{
	background-color: #E3350D;
}

.header-top__navegation__links:nth-child(2):hover{
	background-color: #EE6B2F;
}

.header-top__navegation__links:nth-child(3):hover{
	background-color: #E6BC2F;
}

.header-top__navegation__links:first-child{
	border-radius: 0px 0px 0px 10px;
}

.header-top__navegation__links:last-child{
	border-radius: 0px 0px 10px 0px;
}

.header-top__navegation__links:nth-child(1){
	box-shadow: 0px 4px 1px #E3350D;
}

.header-top__navegation__links:nth-child(2){
	box-shadow: 0px 4px 1px #EE6B2F;
}

.header-top__navegation__links:nth-child(3){
	box-shadow: 0px 4px 1px #E6BC2F;
}
/*End header top*/